::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: var(--menu1);
}

::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 98%);
}
:root{
    --menu1:black;
    --menu2:white;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    
}
p{
    font-family: 'Montserrat', sans-serif;
}
a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.container{
    padding:1rem;
    width:min(100%, 1200px);
}

/* Side Menu */
/* Hamburger */
.hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:4px;
    align-items: center;
    position: fixed;
    left:1rem;
    top:1rem;
    background-color: white;
    width:50px;
    height:50px;
    border-radius: 8px;
    padding:1rem;
    border:black 1px solid;
    cursor: pointer;
}
.hamburger-menu > div{
    width:25px;
    height:4px;
    background-color: black;
}
/* Exit Icon */
.menu > li:first-of-type{
    display: flex;
    justify-content: flex-end;
}
.exit-icon{
    color:white;
    font-size: 48px;
    cursor:pointer;
    transition: color 0.2s ease-out;
    margin-right: 1rem;
}
.exit-icon:hover{
    color:grey;
}
/* Logo */
.logo-container{
    padding: 1rem;
    height: 105px;
}
.logo{
    height:100%;
}
/* Nav */
nav{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    height: 100dvh;
    width:0px;
    z-index:10;
    transition: width 0.4s ease-out;
}

nav.active{
    width: 300px;
}
nav ul{
    overflow-y:auto;
    height:100%;
    background-color: var(--menu1);
    padding: 0;
}
nav a{
    display: block;
    text-align: center;
    padding:3rem 1.5rem;
    white-space:nowrap;
}
nav a:hover{
    background-color: antiquewhite;
}

/* Dropdown */
.menu li.active > ul{
    max-height: 1000px;
}

.dropdown-content{
    background-color: white;
    max-height: 0;
    transition: max-height 150ms ease-in-out, opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown-content a{
    color:black;
}
.perk-icon{
    width:50px;
} 
li > a{
    display:flex;
    align-items: center;
    gap:1rem;
    font-size: 3rem;
}
@media (min-width:800px){
    .exit-icon, .hamburger-menu{
        display: none;
    } 
    nav, nav.active{
        width:100%;
    }

    nav ul{
        overflow-y: unset;
        height: unset;
    }
    /*  */
    .menu{
        display: flex;
    }
    .dropdown-content{
        position: absolute;
        background-color: white;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
    }
    .dropdown-link.active > ul{
        display: block;
        opacity: 1;
        z-index: unset;
        pointer-events: auto;
        transform: translateY(0);
    }
}